body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h3 {
  font-weight: normal;
}
.loader {
  height: 100%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position: fixed;
  left: 0;
  top: 0; 
  z-index: 3;
  background-color: $color-quaternary;
  animation: loader 1s 1.2s both;

  &__circle {
    width: 120px;
    height: 120px;
    border: 15px solid $color-back;
    border-top: 15px solid $color-primary;
    border-bottom: 15px solid $color-secondary;
    border-left: 15px solid $color-tertiary;
    border-radius: 50%;
    animation: spin 1s;
  }
    
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
} 

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
 
  100% {
    transform: rotate(360deg);
  }
}

header {
  margin: 0 auto;
  text-align: center;
}