@import "reset.css";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h2, h3 {
  font-weight: normal;
}

header {
  margin: 0 auto;
  text-align: center;
}

.header {
  padding: 16px 0 16px 0;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__logo {
  width: 170px;
}

.localisation {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #eaeaea;
  font-size: 17px;
}
.localisation__icon {
  margin-right: 18px;
  margin-top: 15px;
}
.localisation__text {
  margin: 12px 25px 12px 1px;
}

main {
  text-align: center;
}

.exploration {
  padding: 20px 40px 60px 40px;
  background-color: #f6f6f6;
}
.exploration__title {
  margin: 0 8.7px;
  padding-right: 25px;
}
.exploration h2 {
  font-size: 23.3px;
}
.exploration__subtitle {
  margin-bottom: 40px;
  font-size: 17.3px;
  font-weight: 300;
}
.exploration__button {
  padding: 16px 22px;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ff79da, #9356dc 100%);
  color: #fff;
  cursor: pointer;
}

.fonctionnement {
  margin: 50px 0 60px 0;
  padding: 0px 20px;
  text-align: center;
}
.fonctionnement h2 {
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 600;
  text-align: left;
}
.fonctionnement li {
  width: 100%;
  margin-bottom: 25px;
  margin-left: -40px;
  display: flex;
}
.fonctionnement__number-list {
  margin-right: 5px;
  margin-top: 22px;
  z-index: 2;
}
.fonctionnement .number {
  display: flex;
  flex-direction: column;
  height: 28px;
  width: 28px;
  border-radius: 28px;
  padding: 3px 8px;
  background-color: #9356dc;
  color: white;
}
.fonctionnement__guide {
  width: 100%;
  margin-left: -15px;
  margin-right: -20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 25px 36px;
  background-color: #f6f6f6;
}
.fonctionnement i {
  margin-right: 35px;
  color: #7e7e7e;
}
.fonctionnement__icon {
  vertical-align: -2px;
  font-size: 22px;
}
.fonctionnement #different-color {
  color: #9356dc;
}
.fonctionnement span {
  font-weight: bold;
}

.home {
  padding: 50px 20px 20px 20px;
  background-color: #f6f6f6;
}
.home h2 {
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
}

.menus {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  column-gap: 32px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .menus {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu {
  display: block;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  background-color: white;
  color: #000;
}
.menu__image {
  height: 170px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.menu__new {
  padding: 7px 10px;
  border-radius: 3px;
  position: absolute;
  top: 16px;
  right: 0.75rem;
  background-color: #99e2d0;
  color: #008766;
}
.menu__low {
  padding: 0.8rem;
  display: flex;
  position: relative;
}
.menu__box {
  flex: 1;
  margin: 0;
  text-align: left;
}
.menu__title {
  margin: 0 0 4px 0;
  font-weight: 600;
}
.menu__subtitle {
  margin: 0;
  margin-left: -1px;
  font-weight: 300;
}
.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__heart {
  font-size: 26px;
  opacity: 0.6;
}

footer {
  padding: 26px 24px 37px 24px;
  text-align: left;
  background-color: #353535;
  color: white;
}
footer h3 {
  margin: 0 0 8px 0;
  font-family: "Shrikhand";
  font-size: 20px;
}
footer li {
  margin-left: -40px;
  padding: 5px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer i {
  padding-right: 14px;
}
footer #hand {
  margin-left: -6px;
}

.page--back {
  position: relative;
}
.page__arrow {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 52%;
  font-size: 1.2rem;
  color: black;
}
.page__logo {
  width: 50%;
  margin: 0.8rem 0 0.8rem 0;
}

.image__plate {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.card {
  margin-top: -64px;
  box-sizing: border-box;
  border-radius: 32px 32px;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
}
.card__main {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-family: "Shrikhand", "cursive";
}
.card__button {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.card__button__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f6f6f6;
}

.proposals {
  display: grid;
}

.proposal {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.proposal__title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 35px 0 5px;
}
.proposal hr {
  width: 38px;
  height: 4px;
  margin: 0px 1px;
  border-style: none;
  background-color: #99e2d0;
}

.composition {
  margin-top: 16px;
  display: flex;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}
.composition__quality {
  flex: 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.composition__title {
  margin: 0 0px 5px;
}
.composition__detailed {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13.5px;
  font-weight: 300;
}
.composition__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 2rem;
  font-weight: 500;
}
.composition__ok {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  margin: -16px -80px -16px 16px;
  transition-duration: 0.5s;
}
.composition__Icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: white;
}
.composition__icon {
  color: #99e2d0;
}

.order {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.order__touch {
  padding: 15px 40px;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ff79da, #9356dc 100%);
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
