.page {
    &--back {
      position: relative;
    }
    &__arrow {
      display:flex;
      align-items:center;
      justify-content:center;
      position: absolute;
      left: 22px;
      top: 35%;
      font-size: 20px;
      color: $color-quinary;
    }
    &__logo{
      width: 46.5%;
      margin: 12.4px 0 12.4px 0;
    }
}
  .image__plate {
    width: 100%;
    height: 290px;
    object-fit: cover;
  }

  @media screen and (min-width: 767px){
    .page__logo{
      width: 30%;
    }
    .page__arrow{
      position: absolute;
      left: 100px;
    }

    
  } 
@media screen and (min-width: 1024px){
  .container-menu{
    margin: 0 50px 0 50px;
  
  }
  
} 
.card {
    margin-top: -64px;
    box-sizing: border-box;
    border-radius: 45px 45px;
    position: relative;
    z-index: 1;
    background-color: $color-back;
   
    &__main {
      padding: 25px 32px 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      margin-left: 5px;
      font-family: "Shrikhand", "cursive";
      font-size: 29px;
    }
    &__button{
      margin-bottom: 8px;
      border: 0 solid transparent;
    }
    &__symbol {
      cursor: pointer;
      animation: symbol 0.2s 1s ease-in-out;
      &:hover {
        display: inline-block;
        background:linear-gradient( $color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold; 
      }
    }
    .fa-heart{
    font-size: 25px;
   }     
}
  
.proposals {
    display: grid;
  }
  
  .proposal {
    max-width: 100%;
    margin: 16px;
    padding: 0 16px;
    overflow: hidden;
  
    &__title {
      text-align: left;
      font-size: 20px;
      font-weight: 300;
      margin: 25px 0 5px 5px;
    }
    hr{
      width: 45px;
      height: 4px;
      margin: 0px 6px 15px;
      border-style: none;
      background-color: $color-tertiary;
      opacity: 1;
    }
}
.composition {
    margin: 16px 0 16px 0;
    display: flex;
    padding: 16px;
    border-radius: 15px;
    box-shadow: $shadow-btn;
    overflow: hidden;
    background-color: $color-quaternary;
    cursor: pointer;
    animation: appearance 2s;
   
    
    &__quality {
      flex: 1;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    
    }
  
    &__title {
      margin: 0 0px 5px;  
      font-size: 19px;
    }
  
    &__detailed {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 15px;
      font-weight: 300;
    }
  
    &__price {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 20px;
      font-weight: 500;
    }
  
    &__ok {
      width: 64px;
      margin: -16px -80px -16px 16px;
      display:flex;
      justify-content: center;
      align-items:center;
      background-color: $color-tertiary;
      transition: 0.4s 0.1s;
    }
    &:hover &__ok{
      margin-right: -16px;
      cursor: pointer;
    }
  
    &__Icon {
      height: 25px;
      width: 25px;
      opacity: 1;
      display: flex;
      align-items:center;
      justify-content: center;
      border-radius: 100px;
      background-color: $color-quaternary;
      transition: transform 0.4s 0.1s;
    }
    &:hover &__Icon{
      transform: rotate(360deg);
    }
    &__icon {
      color: $color-tertiary;
      font-size: 15px;
    }
}
@keyframes appearance {
  0% {
     opacity: 0;
    margin-bottom: 80px;
  }
  
  100% { 
   opacity: 1;
    margin-bottom: 20px;
        
  }
}
  .order {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  
   &__touch {
    padding: 15px 40px;
    @include btn(exploration);
    transition: 1s;
  
   
   &:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.8);
    cursor: pointer;
   }
  }
}  
