@import "reset.css";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h3 {
  font-weight: normal;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background-color: white;
  animation: loader 1s 1s both;
}
.loader__circle {
  width: 120px;
  height: 120px;
  border: 15px solid #f6f6f6;
  border-top: 15px solid #9356dc;
  border-bottom: 15px solid #ff79da;
  border-left: 15px solid #99e2d0;
  border-radius: 50%;
  animation: spin 1s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  margin: 0 auto;
  text-align: center;
}

.page--back {
  position: relative;
}
.page__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 22px;
  top: 35%;
  font-size: 20px;
  color: black;
}
.page__logo {
  width: 46.5%;
  margin: 12.4px 0 12.4px 0;
}

.image__plate {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

@media screen and (min-width: 767px) {
  .page__logo {
    width: 30%;
  }

  .page__arrow {
    position: absolute;
    left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .container-menu {
    margin: 0 50px 0 50px;
  }
}
.card {
  margin-top: -64px;
  box-sizing: border-box;
  border-radius: 45px 45px;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
}
.card__main {
  padding: 25px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  margin-left: 5px;
  font-family: "Shrikhand", "cursive";
  font-size: 29px;
}
.card__button {
  margin-bottom: 8px;
  border: 0 solid transparent;
}
.card__symbol {
  border: 0 solid transparent;
  cursor: pointer;
  animation: symbol 0.2s 1s ease-in-out;
}
.card__symbol:hover {
  display: inline-block;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.card .fa-heart {
  font-size: 25px;
}

.proposals {
  display: grid;
}

.proposal {
  max-width: 100%;
  margin: 16px;
  padding: 0 16px;
  overflow: hidden;
}
.proposal__title {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  margin: 25px 0 5px 5px;
}
.proposal hr {
  width: 45px;
  height: 4px;
  margin: 0px 6px 15px;
  border-style: none;
  background-color: #99e2d0;
  opacity: 1;
}

.composition {
  margin: 16px 0 16px 0;
  display: flex;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  animation: appearance 2s;
}
.composition__quality {
  flex: 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.composition__title {
  margin: 0 0px 5px;
  font-size: 19px;
}
.composition__detailed {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
}
.composition__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 20px;
  font-weight: 500;
}
.composition__ok {
  width: 64px;
  margin: -16px -80px -16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition: 0.4s 0.1s;
}
.composition:hover .composition__ok {
  margin-right: -16px;
  cursor: pointer;
}
.composition__Icon {
  height: 25px;
  width: 25px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: white;
  transition: transform 0.4s 0.1s;
}
.composition:hover .composition__Icon {
  transform: rotate(360deg);
}
.composition__icon {
  color: #99e2d0;
  font-size: 15px;
}

@keyframes appearance {
  0% {
    opacity: 0;
    margin-bottom: 80px;
  }
  100% {
    opacity: 1;
    margin-bottom: 20px;
  }
}
.order {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.order__touch {
  padding: 15px 40px;
  border-radius: 25px;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.order__touch:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.header {
  padding: 16px 0 16px 0;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__logo {
  width: 170px;
}

.localisation {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #eaeaea;
  font-size: 17px;
}
.localisation__icon {
  margin-right: 18px;
  margin-top: 15px;
}
.localisation__text {
  margin: 12px 25px 12px 1px;
}

main {
  text-align: center;
}

.exploration {
  padding: 20px 40px 60px 40px;
  background-color: #f6f6f6;
}
.exploration__title {
  margin: 0 8.7px;
  padding-right: 25px;
}
.exploration h2 {
  font-size: 23.3px;
  font-weight: bold;
}
.exploration a:hover {
  text-decoration: none;
  color: white;
}
.exploration__subtitle {
  margin-bottom: 40px;
  font-size: 17.3px;
  font-weight: 300;
}
.exploration__Button {
  padding: 16px 22px;
  border-radius: 25px;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.exploration__Button:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 298px) {
  .exploration__Button {
    padding: 10px 10px;
  }
}
.fonctionnement {
  margin-top: 50px;
  padding: 0px 20px;
}
.fonctionnement__title {
  margin-bottom: 25px;
  margin-right: 200px;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}
.fonctionnement ol {
  margin: 0;
  padding: 0;
}
.fonctionnement li {
  margin-bottom: 25px;
  margin-left: 10px;
  white-space: nowrap;
}
.fonctionnement__number-list {
  margin-right: 8px;
  margin-top: 22px;
  z-index: 2;
  position: absolute;
  text-align: center;
}
.fonctionnement .number {
  height: 28px;
  width: 28px;
  margin-bottom: 25px;
  border-radius: 28px;
  padding: 3px 8px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #9356dc;
  color: white;
}
.fonctionnement__guide {
  max-width: 100%;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 25px 36px;
  background-color: #f6f6f6;
}
.fonctionnement i {
  margin-right: 35px;
  color: #7e7e7e;
}
.fonctionnement__icon {
  vertical-align: -2px;
  font-size: 21px;
}
.fonctionnement #different-color {
  color: #9356dc;
}
.fonctionnement span {
  font-size: 17px;
  font-weight: bold;
  margin-left: -11px;
  margin-right: 24px;
}

@media screen and (max-width: 330px) {
  .fonctionnement span {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__title {
    text-align: left;
  }
  .fonctionnement ol {
    display: flex;
    justify-content: space-evenly;
  }
  .fonctionnement li {
    margin: 0 0 50px 16px;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__title {
    margin-left: 50px;
  }
}
.home {
  padding: 50px 20px 20px 20px;
  background-color: #f6f6f6;
}
.home h2 {
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
}

.menus {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  column-gap: 32px;
  margin-bottom: 40px;
}
.menus a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .menus {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 54px;
    column-gap: 62px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 50px 0 50px;
  }
}
.menu {
  display: block;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  background-color: white;
  color: black;
}
.menu__image {
  height: 170px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.menu__new {
  padding: 5px 8px;
  position: absolute;
  top: 16px;
  right: 12px;
  border-radius: 3px;
  background-color: #99e2d0;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  color: #008766;
}
.menu__low {
  padding: 13px;
  display: flex;
  position: relative;
}
.menu__box {
  flex: 1;
  margin: 0;
  text-align: left;
}
.menu__title {
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: bold;
}
.menu__subtitle {
  margin: 0;
  margin-left: -1px;
  font-size: 16.8px;
}
.menu__button {
  margin-top: 7px;
  margin-right: 10px;
  border: 0 solid transparent;
}
.menu__symbol {
  cursor: pointer;
  animation: symbol 0.2s 1s ease-in-out;
}
.menu__symbol:hover {
  display: inline-block;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu i {
  font-size: 25px;
}

footer {
  padding: 26px 24px 37px 24px;
  text-align: left;
  background-color: #353535;
  color: white;
}
footer h3 {
  margin: 0 0 8px 0;
  font-family: "Shrikhand", "sans-serif";
  font-size: 20px;
}
footer li {
  margin-left: -40px;
  padding: 5px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer i {
  padding-right: 14px;
}
footer #hand {
  margin-left: -6px;
}

/*# sourceMappingURL=style.css.map */
