@import "./utils/variables";
@import "./utils/mixins";
@import "menus-style.scss";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
header {
  margin: 0 auto;
  text-align: center;
 
}
.header {
  box-shadow: $shadow;
  padding: 15px 0 15px 0;
  position: relative;

  &__logo {
    width: 160px;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #eaeaea;
  font-size: 16px;

  &__icon {
    margin-right: 19px;
    margin-top: 1rem;
  }
  &__text {
    margin-right: 18px;
    font-weight: 400;
  }
}
main{
  text-align: center;
}
.exploration {
  padding: 20px 40px 60px 40px;
  background-color: #f6f6f6;

  &__title {
    width: 260px;
    margin: 0;
    margin-left: 10px;
   
  }
  h2 {
    font-size: 23px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 300;  
  }
  &__button {
    padding: 15px 22px;
    @include btn(exploration);
  }
 
}
.fonctionnement {
  margin-top: 50px;
  padding-top: 0px;
  padding-left: 20px;
 
  h2 {
     margin-bottom: 25px;
     text-align: left;
     font-size: 23px;
     font-weight: 600;
  }
  
  li {
    width: 100%;
    margin-bottom: 25px;
    margin-left: -45px;
    display: flex; 
  }
  &__number-list {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
    .number {
        height: 20px;
        border-radius: 20px;
        padding: 3px 8px;
        background-color: $color-primary;
        color: white;    
    }
    &__guide{
        width: 100%;
        margin-left: -10px;
        margin-right: -20px;
        box-shadow: $shadow;
        border-radius: 25px;
        padding: 25px 36px;
        z-index: -1 ;  
        background-color: #f6f6f6;     
    }
    i{
        margin-right: 35px;
        color: #7e7e7e;
    }

    &__icon{
        font-size: 1.4em;
        vertical-align: -.0667em;
    }
    
    #different-color{
      color: $color-primary
    }
    span{
      font-weight: bold;
    }
}
.home {
  background-color: #f6f6f6;
  padding: 50px 20px 20px 20px;

  h2 {
    text-align: left;
  }
}
.menus{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
  margin-bottom: 2.5rem;
}
.menu{
  display: block;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  background-color: white;
  color: #000;
  &__image{
    height: 170px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }
  &__new{
    padding: 7px 10px;
    border-radius: 3px;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    background-color: $color-tertiary;
    color:#008766; ; 
  }
  &__low{
    padding: 0.80rem;
    display: flex;
    position: relative;
  }
  &__box{
    flex: 1;
    margin: 0;
    text-align: left;
  }
  &__title{
    margin: 0 0 8px 0;
  }
  &__subtitle {
    margin: 0;
    margin-left:-1px;
    opacity: 0.8;
  }
  &__shape{
    display:flex;
    align-items:center;
    justify-content:center;
  }
}

footer{
    padding: 26px 24px 37px 24px;
    text-align: left;
    background-color: #353535;
    color: white;
   
    h3{
      margin: 0 0 8px 0;
      font-family: "Shrikhand";
      font-size: 23px;  
    }
    li {
      margin-left: -40px;
      margin-bottom: 1rem;
    }
    a {
      color: white
    }
    i{
      margin-right: 10px;
    }
}
