@mixin btn($btn-exploration) {
    border-radius: 25px;
    box-shadow: $shadow;
    padding: 15px 22px;
    background: linear-gradient($color-secondary,$color-primary );
    color: #fff;
    cursor: pointer; 
}